@import "~angular-toastr/dist/angular-toastr.css";
pp-pathways {
    display: flex;
    flex: 1;

    .floating-menu {
        z-index: 10;
        position: absolute;
        right: 0;
    }

    escher {
        display: block;
        height: 100%;
    }
}
