<md-content class="layout-padding" layout="row" ng-cloak>
	<div flex="65">
		<div class="layout-padding">
			<form ng-submit="pathwaysController.submit()">
				<md-autocomplete ng-repeat="element in pathwaysController.formConfig"
								 flex required
								 ng-disabled="pathwaysController.isDisabled"
								 md-no-cache="pathwaysController.noCache"
								 md-selected-item="pathwaysController.selectedItems[element.attr]"
								 md-search-text="pathwaysController.searchTexts[element.attr]"
								 md-items="item in pathwaysController.querySearch(pathwaysController.searchTexts[element.attr], element.list())"
								 md-item-text="item.value"
								 md-floating-label="{{ element.title }}"
								 md-min-length="2">
					<md-item-template>
						<span md-highlight-text="pathwaysController.searchTexts[data]" md-highlight-flags="^i">{{item.display}}</span>
					</md-item-template>
					<md-not-found>
						Not found
					</md-not-found>
				</md-autocomplete>
				<md-button type="submit" class="md-icon-button">
					<md-icon md-font-set="material-icons"> search </md-icon>
				</md-button>
			</form>
		</div>
		<md-progress-linear ng-if="pathwaysController.isWaiting" md-mode="indeterminate"></md-progress-linear>
		<div layout="row" layout-wrap>
			<md-card style='width: 400px; height: 100%' ng-repeat="(key, set) in pathwaysController.data" ng-if="key != 'broke'">
				<md-card-content>
					<md-content ng-repeat="(reaction_index, reaction) in set[0].reactions">
						<md-list class="md-dense" flex>
							<md-list-item class="md-2-line" ng-href="http://www.metanetx.org/cgi-bin/mnxweb/equa_info?equa={{reaction.id}}">
								<div class="md-list-item-text">
									<h3>{{ reaction_index + 1 }}) {{ set[0].primary_nodes[reaction_index].name }}</h3>
									<p>{{ reaction.reaction_string }}</p>
								</div>
								<md-tooltip md-direction="right" style="position: absolute;">
									See on MetanetX
								</md-tooltip>
							</md-list-item>
						</md-list>
					</md-content>
					<md-content style='color:rgb(128,128,128)' class="layout-padding" ng-if="set.length != 1">and {{ set.length - 1 }} more pathways with different secondary metabolites</md-content>
				</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button class="md-raised md-cornered" ng-click="pathwaysController.escherService.buildMap(set[0], 'escher')">Visualise (beta)</md-button>
				</div>
			</md-card>
		</div>
		<div layout="row" layout-align="center center">{{ pathwaysController.message }}</div>
	</div>
	<div flex="35">
		<figure>
			<div id="escher" style="height: 800px; width: 100%"></div>
		</figure>
	</div>
</md-content>

